<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<link rel="stylesheet" href="/ch2/static/css/main.css">
<body>
    <h1>留言板</h1>
    <form action="/post" method="post">
        <p>请留言</p>
        <table>
            <tr>
                <th>名字</th>
                <td>
                    <input type="text" size="20" name="name">
                </td>
            </tr>
            <tr>
                <th>留言</th>
                <td>
                    <textarea rows="50" cols="60" name="comment"></textarea>
                </td>
            </tr>
        </table>
        <p>
            <button type="submit">提交</button>
        </p>
        <div class="entries-area">
            <h2>留言记录</h2>
            <h3>游客 的留言 (2014-10-10 10:00:00):</h3>
            <p>内容内容</p>
            <h3>游客 的留言 (2014-10-10 10:00:00):</h3>
            <p>内容内容</p>
            {% for greeting in greeting_list: %}
            <h3>{{ greeting.name | nl2br }} 的留言 ({{ greeting.create_at | datetime_fmt }}):</h3>
            <p>{{ greeting.comment | nl2br }}</p>
            {% endfor %}
        </div>
    </form>
</body>
</html>
